.comments {
  margin-top: 10px;
  /* new code */
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .comments {
    width: 100%;
  }
}

#input,
.updateInput {
  /* width: 70%; */
  width: 100%;
  height: 50px;
  max-height: 220px;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e5e5e5;
  resize: none;
}

.updateInput {
  /* width: 100%; */
  display: block;
  margin: 10px auto;
  background-color: white;
}

#input::-webkit-scrollbar,
.updateInput::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
#input,
.updateInput {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#button,
.updateButton {
  display: block;
  font-size: 20px;
  font-weight: 400;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: white;
  position: relative;
  /* left: 887px; */
  left: calc(100% - 110px);
}

.updateButton {
  margin-bottom: 10px;
  /* new code */
  left: calc(100% - 88px);
}

#button:hover,
#button:active,
.updateButton:hover,
.updateButton:active {
  background-color: var(--fontPrimary);
}

#button:hover span,
#button:active span,
.updateButton:hover span,
.updateButton:active span {
  color: white;
}

.name {
  font-size: 28px;
  font-weight: 700;
  display: inline-block;
  margin-right: 10px;
}

.dateText,
.updatedDateText {
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
}

.updatedDateText {
  display: block;
}

.commentText {
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

.commentEdit {
  position: relative;
  /* left: 925px; */
  left: calc(100% - 45px);
  cursor: pointer;
}

.commentDelete {
  position: relative;
  /* left: 930px; */
  left: calc(100% - 40px);
  cursor: pointer;
}

.userContainer {
  margin-top: 15px;
  /* width: 70%; */
  width: 100%;
  background-color: #e5e5e5;
  padding: 5px 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .comments {
    width: 100%;
  }

  .userContainer {
    width: 100%;
  }
}
