.text h6 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.text h2 {
  font-size: 30px;
  font-weight: 700;
}

.text p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.text .table {
  margin: 30px auto 50px;
  /* border-collapse: collapse; */
}

.text .table th {
  font-size: 20px;
  font-weight: 700;
}

.text .table td {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.text .table th,
.text .table td {
  padding: 5px;
  border-bottom: 1px solid #e5e5e5;
}

.text .table tr:hover,
.text .table tr:active {
  background-color: #e5e5e5;
}
